 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Inspiration &amp; Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p><i>"Running into a pole is a drag, but never being allowed to run into a pole is a disaster"</i> - Daniel Kish </p>
                </div>
                <div class="col-lg-4">
                  <p>Tinking with technology (be it computers and microchips or hammers and nails) has always been a part of my life. I'm always excited to experiement with new technologies and make things that are useful and valuable.</p>
                  <p>While not tinkering, I enjoy spending time with my growing family, playing drums with my bands, and photographing my surroundings.</p>
                </div>
            </div>
        </div>
    </section>
